html,body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: aliceblue;
    
}