* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: Helvetica;
}

#main {
  height: 100%;
  width: 100%;
}

#intro {
  height: 45%;
  width: 100%;
  background-color: pink;
  padding: 50px;
}

#name h1 {
  font-size: 143px;
  line-height: 120px;
  margin-bottom: 70px;
}

#location {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#location #ind {
  margin-left: px;
}

#img {
  height: 65%;
  width: 100%;
  background-color: yellow;
  background-image: url();
  background-size: cover;
}


#scroll{
  display: flex;
  gap: 20px;
}